/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain;}
#container:not([style*="zoom"]) { -webkit-text-size-adjust:none;}
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; top:0; left:0; }
#container-wrap, #container { min-height:100%; width:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[data-fixed-action],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'] #container{ height:auto; min-height:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
/*body[data-scaled-to] * { -webkit-backface-visibility: hidden; }*/ /*fix blurry imgs*/
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
.spread-shift { position:absolute; }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .pageItem { image-rendering: -webkit-optimize-contrast; }
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .pageItem { image-rendering: optimizeSpeed; }
}}
@-moz-document url-prefix() {
  .pageItem { image-rendering: optimizeQuality; }
}
.svg-wrap { width:inherit !important; height:inherit !important; }
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
.pageItem.group[data-ani] { will-change: transform; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }
.page-scale-wrap { transform:translateZ(0); }
.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page-wrapper{
	will-change:transform;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }
.liquid .slideshow img { object-fit:contain; }

.in5-highlight {
	background:rgba(255,255,0,.6);
	mix-blend-mode:multiply;
	pointer-events:none;
	animation-name:in5-highlight-in,in5-highlight-in;
	animation-direction:normal,reverse;
	animation-delay:3s,3s;
	animation-duration:.5s,1s;
	animation-iteration-count:1,1;
}
@keyframes in5-highlight-in{ from{ opacity:0 } to { opacity: 1} }
.hidden { display:none !important; }
.skip-link-wrap { z-index: 1; position: fixed; }
[data-reader-only="1"]{
	transform: translateY(-100vh) !important;
	z-index:-1;
}
[data-reader-only="1"]:focus, [data-reader-only="1"]:active {
	transform: translateY(0%) !important;
	z-index:1;
}
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state * { pointer-events: inherit; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.liquid label > .state {
    width:100% !important;
    height:100% !important;
}
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	flex-wrap:wrap;
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:2ex;padding-left:2ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#fff; }
:-webkit-full-screen { background:#fff; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
.page-scale-wrap { width:842px; height:595px; background: transparent !important; }
.paper-vertical { width:842px; height:100%; }
.paper-horizontal { width:2394px; height:607px; }
@media all and (max-height:595px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:842px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}

#item2999 {
	width:527px !important;
	height:751px !important;
	left:1840px !important;
	top:95px !important;
}

#item3361 {
	width:527px !important;
	height:751px !important;
	left:1840px !important;
	top:95px !important;
}

#item3374 {
	width:527px !important;
	height:751px !important;
	left:1840px !important;
	top:95px !important;
}

#item3388 {
	width:527px !important;
	height:751px !important;
	left:1840px !important;
	top:95px !important;
}

#item3401 {
	width:527px !important;
	height:751px !important;
	left:1840px !important;
	top:95px !important;
}

#item3420 {
	width:527px !important;
	height:751px !important;
	left:1838px !important;
	top:95px !important;
}

#item3434 {
	width:527px !important;
	height:751px !important;
	left:1838px !important;
	top:95px !important;
}

#item3445 {
	width:527px !important;
	height:751px !important;
	left:1838px !important;
	top:95px !important;
}

#item3456 {
	width:527px !important;
	height:751px !important;
	left:1838px !important;
	top:95px !important;
}

#item3468 {
	width:527px !important;
	height:751px !important;
	left:1838px !important;
	top:95px !important;
}

#item3493 {
	width:527px !important;
	height:751px !important;
	left:1838px !important;
	top:95px !important;
}

#item3510 {
	width:527px !important;
	height:751px !important;
	left:1838px !important;
	top:95px !important;
}

#item3525 {
	width:527px !important;
	height:751px !important;
	left:1838px !important;
	top:95px !important;
}

#item3015 {
	width:398px !important;
	height:99px !important;
	left:1961px !important;
	top:90px !important;
}

#item3017 {
	width:399px !important;
	height:134px !important;
	left:1958px !important;
	top:73px !important;
}

#item3032 {
	width:399px !important;
	height:171px !important;
	left:1958px !important;
	top:65px !important;
}

#item3043 {
	width:399px !important;
	height:171px !important;
	left:1956px !important;
	top:65px !important;
}

#item3056 {
	width:399px !important;
	height:171px !important;
	left:1944px !important;
	top:59px !important;
}

#item3068 {
	width:418px !important;
	height:162px !important;
	left:1941px !important;
	top:59px !important;
}

#item3084 {
	width:432px !important;
	height:162px !important;
	left:1933px !important;
	top:44px !important;
}

#item3108 {
	width:432px !important;
	height:192px !important;
	left:1936px !important;
	top:12px !important;
}

#item3124 {
	width:301px !important;
	height:192px !important;
	left:1995px !important;
	top:23px !important;
}

#item3136 {
	width:301px !important;
	height:192px !important;
	left:1997px !important;
	top:23px !important;
}

#item3147 {
	width:301px !important;
	height:258px !important;
	left:2000px !important;
	top:1px !important;
}

#item3212 {
	width:525px !important;
	height:798px !important;
	left:1833px !important;
	top:43px !important;
}

#item3217 {
	width:525px !important;
	height:798px !important;
	left:1834px !important;
	top:43px !important;
}

#item3225 {
	width:525px !important;
	height:798px !important;
	left:1833px !important;
	top:43px !important;
}

#item3238 {
	width:525px !important;
	height:798px !important;
	left:1833px !important;
	top:43px !important;
}

#item3279 {
	width:525px !important;
	height:798px !important;
	left:1833px !important;
	top:43px !important;
}

#item3298 {
	width:525px !important;
	height:798px !important;
	left:1833px !important;
	top:43px !important;
}

#item3305 {
	width:525px !important;
	height:798px !important;
	left:1833px !important;
	top:43px !important;
}

#item2854 {
	width:526px !important;
	height:695px !important;
	left:1832px !important;
	top:91px !important;
}

#item2865 {
	width:526px !important;
	height:738px !important;
	left:1833px !important;
	top:90px !important;
}

#item2874 {
	width:526px !important;
	height:738px !important;
	left:1833px !important;
	top:91px !important;
}

#item2886 {
	width:526px !important;
	height:738px !important;
	left:1832px !important;
	top:91px !important;
}

#item2897 {
	width:526px !important;
	height:738px !important;
	left:1832px !important;
	top:91px !important;
}

#item2903 {
	width:526px !important;
	height:738px !important;
	left:1832px !important;
	top:91px !important;
}

#item2918 {
	width:526px !important;
	height:738px !important;
	left:1832px !important;
	top:90px !important;
}

#item3571 {
	width:526px !important;
	height:738px !important;
	left:1832px !important;
	top:90px !important;
}

#item2939 {
	width:526px !important;
	height:738px !important;
	left:1833px !important;
	top:90px !important;
}

#item2959 {
	width:526px !important;
	height:738px !important;
	left:1833px !important;
	top:90px !important;
}

#item2972 {
	width:526px !important;
	height:738px !important;
	left:1833px !important;
	top:90px !important;
}

#item2246 {
	width:274px !important;
	height:192px !important;
}

#item2247 {
	width:274px !important;
	height:192px !important;
	left:18px !important;
	top:107px !important;
}

#item2261 {
	width:274px !important;
	height:192px !important;
}

#item2258 {
	width:274px !important;
	height:192px !important;
	left:18px !important;
	top:305px !important;
}

#item2598 {
	width:133px !important;
	height:181px !important;
}

#item2596 {
	width:133px !important;
	height:181px !important;
	left:19px !important;
	top:503px !important;
}

#item2602 {
	width:129px !important;
	height:181px !important;
}

#item2600 {
	width:129px !important;
	height:181px !important;
	left:159px !important;
	top:503px !important;
}

#item2607 {
	width:268px !important;
	height:181px !important;
}

#item2605 {
	width:268px !important;
	height:181px !important;
	left:21px !important;
	top:696px !important;
}

#item2611 {
	width:268px !important;
	height:181px !important;
}

#item2609 {
	width:268px !important;
	height:181px !important;
	left:299px !important;
	top:112px !important;
}

#item2615 {
	width:133px !important;
	height:181px !important;
}

#item2613 {
	width:133px !important;
	height:181px !important;
	left:297px !important;
	top:308px !important;
}

#item2619 {
	width:129px !important;
	height:181px !important;
}

#item2617 {
	width:129px !important;
	height:181px !important;
	left:437px !important;
	top:308px !important;
}

#item2625 {
	width:268px !important;
	height:181px !important;
}

#item2623 {
	width:268px !important;
	height:181px !important;
	left:299px !important;
	top:504px !important;
}

#item2629 {
	width:268px !important;
	height:181px !important;
}

#item2627 {
	width:268px !important;
	height:181px !important;
	left:299px !important;
	top:699px !important;
}

#item2633 {
	width:262px !important;
	height:181px !important;
}

#item2631 {
	width:262px !important;
	height:181px !important;
	left:577px !important;
	top:113px !important;
}

#item2637 {
	width:262px !important;
	height:181px !important;
}

#item2635 {
	width:262px !important;
	height:181px !important;
	left:579px !important;
	top:308px !important;
}

#item2643 {
	width:262px !important;
	height:181px !important;
}

#item2641 {
	width:262px !important;
	height:181px !important;
	left:577px !important;
	top:503px !important;
}

#item2648 {
	width:238px !important;
	height:242px !important;
}

#item2646 {
	width:238px !important;
	height:242px !important;
	left:949px !important;
	top:112px !important;
}

#item2652 {
	width:238px !important;
	height:242px !important;
}

#item2650 {
	width:238px !important;
	height:242px !important;
	left:949px !important;
	top:362px !important;
}

#item2656 {
	width:238px !important;
	height:267px !important;
}

#item2654 {
	width:238px !important;
	height:267px !important;
	left:949px !important;
	top:610px !important;
}

#item2661 {
	width:238px !important;
	height:242px !important;
}

#item2659 {
	width:238px !important;
	height:242px !important;
	left:1197px !important;
	top:362px !important;
}

#item2665 {
	width:238px !important;
	height:267px !important;
}

#item2663 {
	width:238px !important;
	height:267px !important;
	left:1197px !important;
	top:610px !important;
}

#item2671 {
	width:238px !important;
	height:246px !important;
}

#item2669 {
	width:238px !important;
	height:246px !important;
	left:1445px !important;
	top:108px !important;
}

#item2675 {
	width:238px !important;
	height:240px !important;
}

#item2673 {
	width:238px !important;
	height:240px !important;
	left:1445px !important;
	top:364px !important;
}

#item2680 {
	width:201px !important;
	height:181px !important;
}

#item2677 {
	width:201px !important;
	height:181px !important;
	left:21px !important;
	top:988px !important;
}

#item2685 {
	width:201px !important;
	height:181px !important;
}

#item2683 {
	width:201px !important;
	height:181px !important;
	left:21px !important;
	top:1182px !important;
}

#item2689 {
	width:201px !important;
	height:181px !important;
}

#item2687 {
	width:201px !important;
	height:181px !important;
	left:232px !important;
	top:986px !important;
}

#item2693 {
	width:201px !important;
	height:181px !important;
}

#item2691 {
	width:201px !important;
	height:181px !important;
	left:232px !important;
	top:1183px !important;
}

#item2698 {
	width:201px !important;
	height:181px !important;
}

#item2696 {
	width:201px !important;
	height:181px !important;
	left:441px !important;
	top:988px !important;
}

#item2702 {
	width:201px !important;
	height:181px !important;
}

#item2700 {
	width:201px !important;
	height:181px !important;
	left:442px !important;
	top:1182px !important;
}

#item2707 {
	width:201px !important;
	height:181px !important;
}

#item2705 {
	width:201px !important;
	height:181px !important;
	left:651px !important;
	top:987px !important;
}

#item2714 {
	width:201px !important;
	height:181px !important;
}

#item2710 {
	width:201px !important;
	height:181px !important;
	left:651px !important;
	top:1182px !important;
}

#item2718 {
	width:201px !important;
	height:181px !important;
}

#item2716 {
	width:201px !important;
	height:181px !important;
	left:863px !important;
	top:988px !important;
}

#item2722 {
	width:201px !important;
	height:181px !important;
}

#item2720 {
	width:201px !important;
	height:181px !important;
	left:1134px !important;
	top:988px !important;
}

#item2728 {
	width:201px !important;
	height:181px !important;
}

#item2726 {
	width:201px !important;
	height:181px !important;
	left:1134px !important;
	top:1183px !important;
}

#item2732 {
	width:201px !important;
	height:181px !important;
}

#item2730 {
	width:201px !important;
	height:181px !important;
	left:1346px !important;
	top:988px !important;
}

#item2737 {
	width:201px !important;
	height:181px !important;
}

#item2735 {
	width:201px !important;
	height:181px !important;
	left:1344px !important;
	top:1183px !important;
}

#item2741 {
	width:201px !important;
	height:181px !important;
}

#item2739 {
	width:201px !important;
	height:181px !important;
	left:1555px !important;
	top:988px !important;
}

#item2745 {
	width:201px !important;
	height:181px !important;
}

#item2743 {
	width:201px !important;
	height:181px !important;
	left:1554px !important;
	top:1183px !important;
}

#item2750 {
	width:201px !important;
	height:181px !important;
}

#item2748 {
	width:201px !important;
	height:181px !important;
	left:1764px !important;
	top:990px !important;
}

#item2754 {
	width:238px !important;
	height:181px !important;
}

#item2752 {
	width:238px !important;
	height:181px !important;
	left:22px !important;
	top:1459px !important;
}

#item2758 {
	width:238px !important;
	height:181px !important;
}

#item2756 {
	width:238px !important;
	height:181px !important;
	left:270px !important;
	top:1458px !important;
}

#item2764 {
	width:238px !important;
	height:181px !important;
}

#item2762 {
	width:238px !important;
	height:181px !important;
	left:518px !important;
	top:1457px !important;
}

#item2768 {
	width:238px !important;
	height:181px !important;
}

#item2766 {
	width:238px !important;
	height:181px !important;
	left:849px !important;
	top:1458px !important;
}

#item2772 {
	width:238px !important;
	height:181px !important;
}

#item2770 {
	width:238px !important;
	height:181px !important;
	left:1097px !important;
	top:1459px !important;
}

#item2780 {
	width:223px !important;
	height:181px !important;
}

#item2778 {
	width:223px !important;
	height:181px !important;
	left:2056px !important;
	top:987px !important;
}

#item2784 {
	width:223px !important;
	height:181px !important;
}

#item2782 {
	width:223px !important;
	height:181px !important;
	left:2056px !important;
	top:1182px !important;
}

#item2789 {
	width:238px !important;
	height:181px !important;
}

#item2787 {
	width:238px !important;
	height:181px !important;
	left:1492px !important;
	top:1457px !important;
}

#item2793 {
	width:238px !important;
	height:181px !important;
}

#item2791 {
	width:238px !important;
	height:181px !important;
	left:1743px !important;
	top:1457px !important;
}

#item2797 {
	width:238px !important;
	height:181px !important;
}

#item2795 {
	width:238px !important;
	height:181px !important;
	left:1992px !important;
	top:1458px !important;
}
#in5footer,  #prefooter {display:none;}

#loadIndicator{display:none;}
